body {
    background-color: #C8A2C8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-imagenes img {
    margin: 100px;
    max-width: 100%;
    height: auto;
}
