<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masajes  Marssela Rosso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Contact Me</title>
</head>
 <title>Coaching Ontológico Profesional</title>
    <style>
    </style>
</head>
<body class="body-coach-ontologico">
    <div class="container-ontologico">
        <nav>
            <a href="/views/Masoterapia.html">Masoterapia</a>
            <a href="/views/reiki.html">Reiki</a>
            <a href="/views/cosmiatria.html">Cosmiatría</a>
            <a href="/views/drenajelinfatico.html">Drenaje Linfático</a>
        </nav>
        <h1 class="titulo-coach-ontologico">Coaching Ontológico Profesional</h1>
        <p>El coaching ontológico profesional es una disciplina que ayuda a las personas a alcanzar sus metas y a desarrollar su potencial. Entre los beneficios del coaching ontológico profesional se incluyen:</p>
        <ul class="ul-coach-ontologico">
            <li class="li-coach-ontologico">🔸Mejora de la autoconciencia.</li>
            <li class="li-coach-ontologico">🔸Desarrollo de habilidades de comunicación.</li>
            <li class="li-coach-ontologico">🔸Facilitación del crecimiento personal y profesional.</li>
            <li class="li-coach-ontologico">🔸Aumento de la motivación y la confianza.</li>
        </ul>
    </div>
    <img src="/img/coachontologicoprofesional.jpg" height="1000">
</body>
</html>
