<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masajes  Marssela Rosso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
 <title>Cosmiatría</title>
</head>
<body class="body-cosmiatria">
    <div class="container-cosmiatria">
        <nav>
            <a href="/views/Masoterapia.html">Masoterapia</a>
            <a href="/views/reiki.html">Reiki</a>
            <a href="/views/drenajelinfatico.html">Drenaje Linfático</a>
            <a href="/views/coachontologicoprofesional.html">Coaching Ontológico Profesional</a>
        </nav>
        <h1 class="titulo-cosmiatria">Cosmiatría</h1>
        <h2 class="h2-cosmiatria">La cosmiatría es una rama de la dermatología que se enfoca en el cuidado estético de la piel. Entre los beneficios de la cosmiatría se incluyen:</h2>
        <ul class="ul-cosmiatria">
            <li class="li-cosmiatria">🔸Mejora de la apariencia de la piel<li>


                <li class="li-cosmiatria"> 🔸Tratamiento de afecciones cutáneas<li>
            
            
                <li class="li-cosmiatria"> 🔸Prevención del envejecimiento prematuro<li>
            
            
                    <li class="li-cosmiatria"> 🔸Fomento de la salud y el bienestar de la piel<li>
            
            
        </ul>
    </div>
    <img src="/img/Cosmiatria.jpg" height="900">

</body>
</html>
