<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosmiatría</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="/views/Masoterapia.html">Masoterapia</a>
            <a href="/views/reiki.html">Reiki</a>
            <a href="/views/drenajelinfatico.html">Drenaje Linfático</a>
            <a href="/views/coachontologicoprofesional.html">Coaching Ontológico Profesional</a>
        </nav>
        <h1>Cosmiatría</h1>
        <p>La cosmiatría es una rama de la dermatología que se enfoca en el cuidado estético de la piel. Entre los beneficios de la cosmiatría se incluyen:</p>
        <ul>
            🔸Mejora de la apariencia de la piel
<br>
<br>
            🔸Tratamiento de afecciones cutáneas
            <br>
            <br>
            🔸Prevención del envejecimiento prematuro
            <br>
            <br>
            🔸Fomento de la salud y el bienestar de la piel
            <br>
            <br>
        </ul>
    </div>
</body>
</html>
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        margin: auto;
        font-size: 28px;
    }
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<img src="/img/Cosmiatria.jpg" height="1000">

