<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masajes  Marssela Rosso</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body>
    <title>Cremas</title>

    <h1>🔸Cremas y sus Beneficios</h1>

    <h2>🔸Se absorbe lentamente y proporciona una mayor fricción lo que la hace ideal para masajes profundos y terapéuticos. Además, al ser más densa que el aceite, se adhiere mucho mejor a la piel y permite una mayor precisión en la aplicación</h2>
   <h3>🔸Encargá la tuya
   
    <a class="nav-link" href="/contact.html">Contactos</a>

</body>

     </html>
  