<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drenaje Linfático</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="body-linfatico">
    <div class="container-linfatico">
        <nav>
            <a href="/views/Masoterapia.html">masoterapia</a>
            <a href="/views/reiki.html">Reiki</a>
            <a href="/views/cosmiatria.html">Cosmiatría</a>
            <a href="/views/coachontologicoprofesional.html">Coaching Ontológico Profesional</a>
        </nav>
        <h1 class="titulo-linfatico">Drenaje Linfático</h1>
        <h2 class="h2-linfatico">El drenaje linfático es una técnica de masaje que ayuda a estimular la circulación de la linfa. Entre los beneficios del drenaje linfático se incluyen:</h2>
        
            <li class="li-linfatico">🔸Reducción de la hinchazón y retención de líquidos.</li>
            <li class="li-linfatico">🔸Mejora del sistema inmunológico.</li>
            <li class="li-linfatico">🔸Detoxificación del cuerpo.</li>
            <li class="li-linfatico">🔸Alivio del estrés y la tensión.</li>
      
    </div>
    <img src="/img/Drenajelinfatico.jpg" class="imagen-linfatico">

</body>
</html>
