<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Flores de Bach</title>
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
   
<h1>🔸Flores de Bach</h1>

<h2>🔸Son preparados naturales a base de la energia de ciertas plantas con propiedades beneficas para armonizar nuestro estado anímico y emocional</h2>
<h3>Consultas Personalizadas
    
    <a class="nav-link" href="/contact.html">Contactos</a> 
</body>
</html>
