<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masoterapia</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="reiki.html">Reiki</a>
            <a href="cosmiatria.html">Cosmiatría</a>
            <a href="Drenajelinfatico.html">Drenajelinfatico</a>
            <a href="coachontologicoprofesional.html">coachontologicoprofesional</a>
            <a href="cosmiatria.html">Cosmiatría</a>
        </nav>
        <div class="contenedor-columnas">
      <title>Masoterapia</title>
</head>
<body>
    <h1>Masoterapia</h1>
    <ul>
        <li>🔸 Ayudar a reducir el estrés</li>
        <li>🔸 Disminuir el dolor y la tensión muscular</li>
        <li>🔸 Aumentar la relajación</li>
        <li>🔸 Mejorar la función del sistema inmunitario</li>
    </ul>
</body>
</html>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 30px;
        padding: 30px;
    }
    h1 {
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 200%;
    }
    li {
        margin: 20px 0;
        text-indent: -100px;
    }
</style>
 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<img src="/img/masoterapia.jpg" height="900">
