<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>
<body class="body-productos">
<h1>Producto Que Utilizo</h1>
    <div class="container-productos">
        <a href="Floresdebach.html">
            <img src="/img/flores de bach.jpg" alt="Flores de bach" class="imagen-productos">
        </a>
    </div>
    <div class="container-productos">
        <a href="cremas.html">
            <img src="/img/cremas.jpg" alt="Cremas para hacer masajes" class="imagen-productos">
        </a>
    </div>
</body>
</html>
