<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Reiki</title>
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="reiki-body">
    <div class="container-reiki">
        <nav>
            <a href="/views/masoterapia.html">Masoterapia</a>
            <a href="/views/cosmiatria.html">Cosmiatría</a>
            <a href="/views/Drenajelinfatico.html">Drenajelinfatico</a>
            <a href="/views/coachontologicoprofesional.html">Coachontologicoprofesional</a>

        </nav>
        <h1 class="titulo-reiki">Reiki</h1>
        <ul class="ul-reiki">
            <li class="li-reiki">🔸Alivia dolores: Muchas personas sostiene que el Reiki les ayuda a reducir el dolor físico, como dolores de cabeza, dolores musculares y tensiones. También, aquellos que son crónicos, como migrañas, artritis, lumbalgias, etc.</li>

            <li class="li-reiki">🔸Relajación: Contribuye a reducir el estrés y la ansiedad, promoviendo la relajación profunda tanto a nivel físico como mental.</li>
    
            <li class="li-reiki">🔸Equilibra energética y espiritualmente: Ayuda a las personas para aliviar las depresiones y los trastornos psicológicos.</li>
    
            <li class="li-reiki">🔸Acelera la cicatrización de heridas y lesiones óseas: El Reiki puede acelerar el proceso de recuperación después de enfermedades, lesiones o cirugías, al fomentar un equilibrio energético y estimular la capacidad de autocuración del cuerpo.</li>
    
            <li class="li-reiki">🔸Refuerza el sistema inmunológico: Ayuda al cuerpo a combatir enfermedades virales e infecciones al equilibrar y armonizar la energía del cuerpo. Esto ayuda a combatir enfermedades y promover la salud en general.</li>
    
            <li class="li-reiki">🔸Promueve el autoconocimiento: Ayuda a vivir la vida en plenitud.</li>
    
            <li class="li-reiki">🔸Mejora el estado de ánimo y la claridad mental: Puede liberar bloqueos emocionales y mejorar la claridad mental. Esto puede mejorar el estado de ánimo y la sensación de bienestar.</li>
    
            <li class="li-reiki">🔸Apoyo emocional: El Reiki puede brindar apoyo emocional y ayudar a liberar emociones reprimidas o bloqueadas, lo cual puede ser útil en el proceso de sanación emocional.</li>
        </ul>
        
    </div>
    <img src="/img/Reiki.jpg" height="900">
</body>
</html>


    