<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/Sass/main.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="body-servicios">
    <h1>Servicios</h1>
    <p>  
        <a class="nav-link" href="/views/Reiki.html">Reiki</a>
   
   
    <a class="nav-link" href="/views/coachontologicoprofesional.html">Coachontologicoprofesional</a>
    
    

<a class="nav-link" href="/views/Drenajelinfatico.html">Drenajelinfatico</a>



<a class="nav-link" href="/views/Masoterapia.html">Masoterapia</a>


<a class="nav-link" href="/views/cosmiatria.html">Cosmiatría</a>
</p>
</body>
</html>