.body-coach-ontologico {
    font-family: 'Gill Sans', Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif;
}
.container-ontologico {
    width: 100%;
    margin: auto;
    font-size: 25px;
}
.body-coach-ontologico{
    text-align: center;
    font-size: 36px;
}
.ul-coach-ontologico {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 40px;
}
.li-coach-ontologico {
    margin: 20px 0;
    padding-left: 20px;
    text-indent: -20px;
    ::before {
        padding-right: 10px;
    }
}