
.body-servicios {
    height: 100vh;
    margin: 0;
    color: #0968c7;
    background-size: cover;
     background-position: central;
     font-size: 36px;
     font-family: 'Gill Sans',Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif, sans-serif;
     font-size: 2rem;
     background-color: #C8A2C8;
 }
 