.contenedor {
    display: flex;
    flex-direction: column;
}
body {
    height: 100vh;
    margin: 0;
    color: #0968c7;
    background-size: cover;
     background-position: central;
     font-size: 36px;
 }
 
